<h2 class ="text-primary" style="color: white; text-align: center;">BearHouse</h2>

<h4 class="text-primary" style="color: white; text-align: center;">Let us help you find your next great home!</h4>
<br>
<br>
<div style="text-align: center;" class="container">
  <div class="row">
    <div name="search" class="span12">

      <%= simple_form_for Spot.new, :url => spots_new_path,
        wrapper: :inline_form,
        html: {class: 'form-inline'} do |f| %>
        <%= f.button :submit, 'Create New Listing' %>
      <% end %>

      <%= simple_form_for Spot.new, :url => spots_search_path,
        wrapper: :inline_form,
        html: {class: 'form-inline'} do |f| %>
        <%= f.input :beds, prompt: "Beds", :collection => ['Studio','1','2','3','4+'] %>
        <%= f.input :price, prompt: "Price",
        :collection => ['Less than $800', '$800 to $1000', '$1000-$1200', '$1200-$1500', 'More than $1500'] %>
        <%= f.button :submit, 'Search' %>
      <% end %>

<<<<<<< HEAD
=======
        <input class="span5" type="text" placeholder="Rooms">
        <input class="span5" type="text" placeholder="Price">
        <input class="span5" type="text" placeholder="Location">
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
>>>>>>> fixedAlert
    </div>


  </div>

</div>
