<!DOCTYPE html>
<html>
<head>
  <title>Bear House</title>
  <%= stylesheet_link_tag "application" %>
  <%= stylesheet_link_tag    "default", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "default", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body style="background: url('../images/A_E_S_T_H_E_T_I_C.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;">
<div style="text-align: right;">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>
<main role="main">
  <%= render partial: "layouts/flash_messages", flash: flash %>
</main>

<%= yield %>
</body>
</html>
